// Your variable overrides
.navbar-nav{
    --bs-nav-link-padding-y: 0.5rem;
    flex-direction: row;
    flex-direction: unset;
}

// Bootstrap original
@import "../node_modules/bootstrap/scss/bootstrap";