.enemy {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('../pictures/sprite/EnemySprite/enemy.png');
    background-size: 120px 240px;
    background-repeat: no-repeat;
    pointer-events: none;
    will-change: transform;
    z-index: 998; 
  }
  
  .enemy.walk.down[data-frame="0"] { background-position: 0 0; }
  .enemy.walk.down[data-frame="1"] { background-position: -30px 0; }
  .enemy.walk.down[data-frame="2"] { background-position: -60px 0; }
  .enemy.walk.down[data-frame="3"] { background-position: -90px 0; }

  .enemy.walk.right[data-frame="0"] { background-position: 0 -48px; }
  .enemy.walk.right[data-frame="1"] { background-position: -30px -48px; }
  .enemy.walk.right[data-frame="2"] { background-position: -60px -48px; }
  .enemy.walk.right[data-frame="3"] { background-position: -90px -48px; }
  
  .enemy.walk.up[data-frame="0"] { background-position: 0 -95px; }
  .enemy.walk.up[data-frame="1"] { background-position: -30px -95px; }
  .enemy.walk.up[data-frame="2"] { background-position: -60px -95px; }
  .enemy.walk.up[data-frame="3"] { background-position: -90px -95px; }
  
  .enemy.walk.left[data-frame="0"] { background-position: 0 -144px; }
  .enemy.walk.left[data-frame="1"] { background-position: -30px -144px; }
  .enemy.walk.left[data-frame="2"] { background-position: -60px -144px; }
  .enemy.walk.left[data-frame="3"] { background-position: -90px -144px; }

  .enemy.death[data-frame="0"] { background-position: 0 -175px; }
  .enemy.death[data-frame="1"] { background-position: -30px -175px; }
  .enemy.death[data-frame="2"] { background-position: -60px -175px; }
  .enemy.death[data-frame="3"] { background-position: -90px -175px; }